<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <!--<add name="VolumetriaContext" connectionString="Data Source=SUDAODOSUL\DEV2;Initial Catalog=Cardif;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />-->
    <add name="ProjetoTCC" connectionString="Data Source=localhost;Initial Catalog=ProjetoTcc;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
  
  
  </connectionStrings>
</configuration>