#e71_2 {
position:relative;
opacity:1;
width:1440px;
height:1024px;
}
#e6_5 {
opacity:1;
width:1440px;
height:1024px;
position:absolute;
left:0px;
top:0px;
}
#e6_6 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:769px;
height:594px;
position:absolute;
left:1333px;
top:677px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e6_46 {
border-radius:500px;
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:27px;
height:26px;
position:absolute;
left:943px;
top:1104px;
}
#e6_34 {
background-color:rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:925px;
top:892px;
}
#e6_39 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:70px;
height:31px;
position:absolute;
left:923px;
top:892px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e6_7 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1284px;
height:183px;
position:absolute;
left:818px;
top:1290px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e6_51 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:502px;
height:594px;
position:absolute;
left:818px;
top:677px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e6_53 {
background-color:rgba(255, 251.81250303983688, 251.81250303983688, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:923px;
top:889px;
}
#e6_8 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:64px;
position:absolute;
left:721px;
top:1492px;
}
#e6_9 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:97px;
position:absolute;
left:721px;
top:567px;
}
#e6_11 {
background-color:rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:923px;
top:950px;
}
#e6_40 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:82px;
height:31px;
position:absolute;
left:923px;
top:953px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e6_12 {
background-color:rgba(255, 251.81250303983688, 251.81250303983688, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:925px;
top:831px;
}
#e6_29 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:175px;
height:97px;
position:absolute;
left:818px;
top:567px;
}
#e6_30 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:131px;
height:67px;
position:absolute;
left:841px;
top:577px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e6_31 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:1364px;
height:41px;
position:absolute;
left:738px;
top:1506px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e6_32 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:176px;
height:40px;
position:absolute;
left:868px;
top:756px;
font-family:Roboto;
text-align:center;
font-size:36px;
letter-spacing:0;
line-height:35px;
}
#e6_38 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:68px;
height:31px;
position:absolute;
left:927px;
top:834px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e6_54 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:68px;
height:31px;
position:absolute;
left:927px;
top:892px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e6_42 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:218px;
height:40px;
position:absolute;
left:892px;
top:1020px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e6_43 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:88px;
height:28px;
position:absolute;
left:964px;
top:1060px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e6_44 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:134px;
height:36px;
position:absolute;
left:961px;
top:1099px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e6_45 {
border-radius:500px;
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:27px;
height:26px;
position:absolute;
left:943px;
top:1066px;
}
#e6_52 {
border-radius:500px;
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:27px;
height:26px;
position:absolute;
left:943px;
top:1104px;
}
#e6_47 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:128px;
height:38px;
position:absolute;
left:929px;
top:1168px;
}
#e6_48 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:115px;
height:28px;
position:absolute;
left:934px;
top:1170px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}