#e70_3 {
position:relative;
opacity:1;
width:1440px;
height:1024px;
}
#e52_3 {
opacity:1;
width:1440px;
height:1024px;
position:absolute;
left:0px;
top:0px;
}
#e52_6 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:64px;
position:absolute;
left:721px;
top:1492px;
}
#e52_7 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:97px;
position:absolute;
left:721px;
top:567px;
}
#e52_8 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:149px;
height:31px;
position:absolute;
left:2027px;
top:606px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e52_9 {
transform: rotate(-90.00000000000003deg);
opacity:1;
border:1px solid rgba(0, 0, 0, 1);
position:absolute;
left:1992px;
top:645px;
}
#e52_10 {
transform: rotate(90deg);
opacity:1;
border:1px solid rgba(0, 0, 0, 1);
position:absolute;
left:1245px;
top:581px;
}
#e52_11 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:175px;
height:97px;
position:absolute;
left:818px;
top:567px;
}
#e52_12 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:131px;
height:67px;
position:absolute;
left:841px;
top:577px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e52_13 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:1364px;
height:41px;
position:absolute;
left:738px;
top:1506px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e52_17 {
opacity:1;
width:939px;
height:551px;
position:absolute;
left:972px;
top:729px;
}
#e52_20 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:151px;
height:67px;
position:absolute;
left:993px;
top:1300px;
}
#e52_21 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:187px;
height:26px;
position:absolute;
left:975px;
top:1308px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e52_22 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:156px;
height:67px;
position:absolute;
left:1739px;
top:1300px;
}
#e52_23 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:133px;
height:40px;
position:absolute;
left:1749px;
top:1308px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}