#e72_2 {
position:relative;
opacity:1;
width:1440px;
height:1024px;
}
#e56_3 {
opacity:1;
width:1440px;
height:1024px;
position:absolute;
left:0px;
top:0px;
}
#e56_4 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:769px;
height:594px;
position:absolute;
left:1333px;
top:677px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e56_5 {
border-radius:500px;
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:27px;
height:26px;
position:absolute;
left:943px;
top:1104px;
}
#e56_6 {
background-color:rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:925px;
top:892px;
}
#e56_7 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:70px;
height:31px;
position:absolute;
left:923px;
top:892px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e56_8 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1284px;
height:183px;
position:absolute;
left:818px;
top:1290px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e56_9 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:502px;
height:594px;
position:absolute;
left:818px;
top:677px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e56_10 {
background-color:rgba(255, 251.81250303983688, 251.81250303983688, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:923px;
top:795px;
}
#e56_11 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:64px;
position:absolute;
left:721px;
top:1492px;
}
#e56_12 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:97px;
position:absolute;
left:721px;
top:567px;
}
#e56_34 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:130px;
height:37px;
position:absolute;
left:1862px;
top:599px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e56_33 {
transform: rotate(-90.00000000000003deg);
opacity:1;
border:1px solid rgba(0, 0, 0, 1);
position:absolute;
left:1992px;
top:645px;
}
#e56_32 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:149px;
height:31px;
position:absolute;
left:2042px;
top:604px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e56_13 {
background-color:rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:923px;
top:845px;
}
#e56_14 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:82px;
height:31px;
position:absolute;
left:929px;
top:844px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e56_15 {
background-color:rgba(255, 251.81250303983688, 251.81250303983688, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:923px;
top:745px;
}
#e56_16 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:175px;
height:97px;
position:absolute;
left:818px;
top:567px;
}
#e56_17 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:131px;
height:67px;
position:absolute;
left:841px;
top:577px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e56_18 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:1364px;
height:41px;
position:absolute;
left:738px;
top:1506px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e56_19 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:176px;
height:40px;
position:absolute;
left:896px;
top:692px;
font-family:Roboto;
text-align:center;
font-size:36px;
letter-spacing:0;
line-height:35px;
}
#e56_20 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:68px;
height:31px;
position:absolute;
left:934px;
top:744px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e56_21 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:68px;
height:31px;
position:absolute;
left:934px;
top:796px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e56_22 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:218px;
height:40px;
position:absolute;
left:859px;
top:1010px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e56_23 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:88px;
height:28px;
position:absolute;
left:959px;
top:1057px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e56_24 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:134px;
height:36px;
position:absolute;
left:953px;
top:1101px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e56_25 {
border-radius:500px;
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:27px;
height:26px;
position:absolute;
left:929px;
top:1062px;
}
#e56_26 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:27px;
height:26px;
position:absolute;
left:929.5px;
top:1104px;
}
#e56_27 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:128px;
height:38px;
position:absolute;
left:925px;
top:1177px;
}
#e56_28 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:115px;
height:28px;
position:absolute;
left:925px;
top:1177px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e56_30 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:203px;
height:38px;
position:absolute;
left:894px;
top:899px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}
#e56_31 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:208px;
height:47px;
position:absolute;
left:908px;
top:957px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:35px;
}