#e65_0 {
position:relative;
opacity:1;
width:1440px;
height:1024px;
}
#e2_2 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:1284px;
height:594px;
position:absolute;
left:97px;
top:129px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e2_3 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1284px;
height:183px;
position:absolute;
left:97px;
top:742px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e2_4 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:64px;
position:absolute;
left:0px;
top:944px;
}
#e2_5 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:97px;
position:absolute;
left:0px;
top:19px;
}
#e2_6 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:80px;
height:37px;
position:absolute;
left:1191px;
top:51px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_7 {
background-color:rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:961px;
top:46px;
}
#e2_8 {
background-color:rgba(255, 251.81250303983688, 251.81250303983688, 1);
opacity:1;
width:205px;
height:37px;
position:absolute;
left:648px;
top:46px;
}
#e2_9 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:166px;
height:39px;
position:absolute;
left:544px;
top:46px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_10 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:98px;
height:36px;
position:absolute;
left:870px;
top:49px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_18 {
background-color:rgba(6.850363612174988, 110.26259735226631, 205.51074117422104, 1);
opacity:1;
width:250px;
height:183px;
position:absolute;
left:147px;
top:742px;
}
#e2_20 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:244px;
height:33px;
position:absolute;
left:153px;
top:746px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_21 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:296px;
height:144px;
position:absolute;
left:169px;
top:759px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_28 {
opacity:1;
width:555px;
height:183px;
position:absolute;
left:465px;
top:742px;
}
#e2_29 {
background-color:rgba(7.000000057742, 110.00000104308128, 206.0000029206276, 1);
opacity:1;
width:366px;
height:143px;
position:absolute;
left:-389px;
top:-742px;
}
#e2_30 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:550.5599975585938px;
height:32px;
position:absolute;
left:-460.5599989891052px;
top:-739px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_31 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:464px;
height:95px;
position:absolute;
left:-374px;
top:-683px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_32 {
opacity:1;
width:244px;
height:180px;
position:absolute;
left:1097px;
top:745px;
}
#e2_34 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:244px;
height:52px;
position:absolute;
left:-1097px;
top:-682px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_35 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:243.02398681640625px;
height:38.36066436767578px;
position:absolute;
left:-1096.0240072607994px;
top:-736.1475439071655px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_36 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:149px;
height:31px;
position:absolute;
left:1280px;
top:50px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_37 {
transform: rotate(-90.00000000000003deg);
opacity:1;
border:1px solid rgba(0, 0, 0, 1);
position:absolute;
left:1271px;
top:97px;
}
#e2_38 {
transform: rotate(90deg);
opacity:1;
border:1px solid rgba(0, 0, 0, 1);
position:absolute;
left:524px;
top:33px;
}
#e2_39 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:175px;
height:97px;
position:absolute;
left:97px;
top:19px;
}
#e2_40 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:131px;
height:67px;
position:absolute;
left:120px;
top:29px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e2_41 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:1364px;
height:41px;
position:absolute;
left:17px;
top:958px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e43_3 {
opacity:1;
width:100px;
height:100px;
position:absolute;
left:806px;
top:343px;
}