#e70_2 {
position:relative;
opacity:1;
width:1455px;
height:989px;
}
#e6_105 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:1065px;
height:439px;
position:absolute;
left:206px;
top:191px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e6_106 {
background-color:rgba(133.12239110469818, 171.12374156713486, 206.12498581409454, 1);
opacity:1;
width:1284px;
height:183px;
position:absolute;
left:97px;
top:723px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#e6_107 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:64px;
position:absolute;
left:0px;
top:925px;
}
#e6_108 {
background-color:rgba(0, 76.0000030696392, 146.00000649690628, 1);
opacity:1;
width:1440px;
height:97px;
position:absolute;
left:0px;
top:0px;
}
#e6_124 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:149px;
height:31px;
position:absolute;
left:1306px;
top:39px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e6_125 {
transform: rotate(-90.00000000000003deg);
opacity:1;
border:1px solid rgba(0, 0, 0, 1);
position:absolute;
left:1271px;
top:78px;
}
#e6_126 {
transform: rotate(90deg);
opacity:1;
border:1px solid rgba(0, 0, 0, 1);
position:absolute;
left:524px;
top:14px;
}
#e6_127 {
background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
opacity:1;
width:175px;
height:97px;
position:absolute;
left:97px;
top:0px;
}
#e6_128 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:131px;
height:67px;
position:absolute;
left:120px;
top:10px;
font-family:Roboto;
text-align:left;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e6_129 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:1364px;
height:41px;
position:absolute;
left:17px;
top:939px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}
#e9_0 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:268px;
height:24px;
position:absolute;
left:235px;
top:153px;
font-family:Roboto;
text-align:left;
font-size:30px;
letter-spacing:0;
line-height:24px;
}
#e10_0 {
opacity:1;
width:151px;
height:68px;
position:absolute;
left:663px;
top:636px;
}
#e32_27 {
color:rgba(0, 0, 0, 1);
opacity:1;
width:1213px;
height:131px;
position:absolute;
left:158px;
top:748px;
font-family:Roboto;
text-align:center;
font-size:24px;
letter-spacing:0;
line-height:24px;
}